In [2]:
import pandas as pd

data = pd.read_csv("sales_data.tsv", sep="\t")
data.head()

      Month Salesman                                   Product Sales
0   January    Alice  DataFrame(82); DataWarehouse(45); DataLake(58)
1   January      Bob                 DataWarehouse(86); DataLake(53)
2   January  Charlie             DataPipeline(43); DataWarehouse(15)
3  February    Alice  DataWarehouse(58); DataModel(72); DataLake(76)
4  February      Bob  DataLake(17); DataModel(33); DataWarehouse(48)

Data jsou v souboru (sales_data.tsv)[sales_data.tsv]